<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <welcome-file-list>
        <welcome-file>LandingPageServlet</welcome-file>
    </welcome-file-list>
    <!-- Services Servlet -->
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.messaging.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorHomePageServlet</servlet-name>
        <servlet-class>controller.profile.DoctorHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPageServlet</servlet-name>
        <servlet-class>controller.appointment.BookingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <servlet-class>controller.profile.UserAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <!-- User Management Servlets -->
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>controller.auth.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.admin.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <!-- Doctor Schedule Servlets -->
    <servlet-mapping>
        <servlet-name>DoctorRegisterScheduleServlet</servlet-name>
        <url-pattern>/DoctorRegisterScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoctorScheduleConfirmServlet</servlet-name>
        <servlet-class>controller.schedule.DoctorScheduleConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorScheduleConfirmServlet</servlet-name>
        <url-pattern>/DoctorScheduleConfirmServlet</url-pattern>
    </servlet-mapping>
    <!-- Authentication Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleCallbackServlet</servlet-name>
        <servlet-class>controller.auth.GoogleCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleCallbackServlet</servlet-name>
        <url-pattern>/LoginGG/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!-- Registration Servlets -->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.auth.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterInformation</servlet-name>
        <servlet-class>controller.auth.RegisterInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterInformation</servlet-name>
        <url-pattern>/RegisterInformation</url-pattern>
    </servlet-mapping>
    <!-- Staff Management Servlets -->
    <servlet>
        <servlet-name>UpdateStaffInfoServlet</servlet-name>
        <servlet-class>controller.admin.UpdateStaffInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStaffInfoServlet</servlet-name>
        <url-pattern>/UpdateStaffInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffViewPatientServlet</servlet-name>
        <servlet-class>controller.profile.StaffViewPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffViewPatientServlet</servlet-name>
        <url-pattern>/StaffViewPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffInfoServlet</servlet-name>
        <servlet-class>controller.admin.StaffInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffInfoServlet</servlet-name>
        <url-pattern>/staff-info</url-pattern>
    </servlet-mapping>
    <!-- User Profile Servlets -->
    <servlet>
        <servlet-name>AvatarServlet</servlet-name>
        <servlet-class>controller.profile.AvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvatarServlet</servlet-name>
        <url-pattern>/AvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.auth.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <!-- User Homepage Servlet -->
    <servlet>
        <servlet-name>UserHompageServlet</servlet-name>
        <servlet-class>controller.profile.UserHompageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHompageServlet</servlet-name>
        <url-pattern>/UserHompageServlet</url-pattern>
    </servlet-mapping>
    <!-- Confirm Appointment Servlet -->
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>controller.appointment.ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <!-- Doctor Servlets -->
    <servlet>
        <servlet-name>DoctorWorkDaysServlet</servlet-name>
        <servlet-class>controller.schedule.DoctorWorkDaysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorWorkDaysServlet</servlet-name>
        <url-pattern>/getDoctorWorkDays</url-pattern>
    </servlet-mapping>
    <!-- Patient Appointments Servlet -->
    <servlet>
        <servlet-name>PatientAppointmentsServlet</servlet-name>
        <servlet-class>controller.appointment.PatientAppointmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientAppointmentsServlet</servlet-name>
        <url-pattern>/PatientAppointments</url-pattern>
    </servlet-mapping>
    <!-- Medical Report Servlets -->
    <servlet>
        <servlet-name>InputMedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.InputMedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputMedicalReportServlet</servlet-name>
        <url-pattern>/InputMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.CreateMedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMedicalReportServlet</servlet-name>
        <url-pattern>/CreateMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.DeleteMedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMedicalReportServlet</servlet-name>
        <url-pattern>/DeleteMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitMedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.SubmitMedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitMedicalReportServlet</servlet-name>
        <url-pattern>/SubmitMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoctorAppointmentsServlet</servlet-name>
        <servlet-class>controller.appointment.DoctorAppointmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorAppointmentsServlet</servlet-name>
        <url-pattern>/DoctorAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportMedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.ExportMedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportMedicalReportServlet</servlet-name>
        <url-pattern>/ExportMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MedicalReportServlet</servlet-name>
        <servlet-class>controller.treatment.MedicalReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicalReportServlet</servlet-name>
        <url-pattern>/MedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>controller.treatment.ViewReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/ViewReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MedicalReportDetailServlet</servlet-name>
        <servlet-class>controller.treatment.MedicalReportDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicalReportDetailServlet</servlet-name>
        <url-pattern>/MedicalReportDetailServlet</url-pattern>
    </servlet-mapping>
    <!-- Schedule Approval Servlet -->
    <servlet>
        <servlet-name>ScheduleApprovalServlet</servlet-name>
        <servlet-class>controller.schedule.ManagerApprovalDoctorSchedulerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleApprovalServlet</servlet-name>
        <url-pattern>/ScheduleApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleApprovalServlet</servlet-name>
        <url-pattern>/ManagerPhancong</url-pattern>
    </servlet-mapping>
    <!-- Staff Payment Servlet -->
    <servlet>
        <servlet-name>StaffPaymentServlet</servlet-name>
        <servlet-class>controller.payment.StaffPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffPaymentServlet</servlet-name>
        <url-pattern>/StaffPaymentServlet</url-pattern>
    </servlet-mapping>
    <!-- Staff Handle Queue Servlet -->
    <servlet>
        <servlet-name>StaffHandleQueueServlet</servlet-name>
        <servlet-class>controller.appointment.StaffHandleQueueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffHandleQueueServlet</servlet-name>
        <url-pattern>/StaffHandleQueueServlet</url-pattern>
    </servlet-mapping>
    <!-- Manager Approval Staff Schedule Servlet -->
    <servlet>
        <servlet-name>ManagerApprovalStaffScheduleServlet</servlet-name>
        <servlet-class>controller.schedule.ManagerApprovalStaffScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerApprovalStaffScheduleServlet</servlet-name>
        <url-pattern>/ManagerApprovalStaffScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerApprovalStaffScheduleServlet</servlet-name>
        <url-pattern>/ManagerProcessApprovalServlet</url-pattern>
    </servlet-mapping>
    <!-- Doctor Have Appointment Servlet -->
    <servlet>
        <servlet-name>DoctorHaveAppointmentServlet</servlet-name>
        <servlet-class>controller.appointment.DoctorHaveAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorHaveAppointmentServlet</servlet-name>
        <url-pattern>/DoctorHaveAppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- Staff Register Schedule Servlet -->
    <servlet>
        <servlet-name>StaffRegisterSecheduleServlet</servlet-name>
        <servlet-class>controller.schedule.StaffRegisterSecheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffRegisterSecheduleServlet</servlet-name>
        <url-pattern>/StaffRegisterSecheduleServlet</url-pattern>
    </servlet-mapping>
    <!-- Staff Schedule Servlet -->
    <servlet>
        <servlet-name>StaffScheduleServlet</servlet-name>
        <servlet-class>controller.schedule.StaffScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffScheduleServlet</servlet-name>
        <url-pattern>/StaffScheduleServlet</url-pattern>
    </servlet-mapping>
    <!-- ========================================= -->
    <!-- 🔧 SESSION CONFIGURATION -->
    <!-- ========================================= -->
    <servlet-mapping>
        <servlet-name>DoctorHomePageServlet</servlet-name>
        <url-pattern>/DoctorHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPageServlet</servlet-name>
        <url-pattern>/BookingPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/UserAccountServlet</url-pattern>
    </servlet-mapping>
    <!-- Trang cá nhân bác sĩ -->
    <servlet>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <servlet-class>controller.profile.DoctorProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <url-pattern>/doctor_trangcanhan</url-pattern>
    </servlet-mapping>
    <!-- Chỉnh sửa thông tin bác sĩ (Cài đặt) -->
    <servlet>
        <servlet-name>EditDoctorServlet</servlet-name>
        <servlet-class>controller.admin.EditDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDoctorServlet</servlet-name>
        <url-pattern>/EditDoctorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>360</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <!-- ========================================= -->
    <!-- 📁 MIME TYPE MAPPINGS -->
    <!-- ========================================= -->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
    <!-- Font MIME Types -->
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>font/ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>font/woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>font/woff2</mime-type>
    </mime-mapping>
    <!-- Booking Relative Page Servlet -->
    <!-- Mapping cho UserRegisterWhenTheyNotRegisterInformation -->
    <servlet>
        <servlet-name>UserRegisterWhenTheyNotRegisterInformation</servlet-name>
        <servlet-class>controller.admin.UserRegisterWhenTheyNotRegisterInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterWhenTheyNotRegisterInformation</servlet-name>
        <url-pattern>/UserRegisterWhenTheyNotRegisterInformation</url-pattern>
    </servlet-mapping>
    <!-- Thêm mapping cho LandingPageServlet -->
    <servlet>
        <servlet-name>LandingPageServlet</servlet-name>
        <servlet-class>controller.profile.LandingPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LandingPageServlet</servlet-name>
        <url-pattern>/LandingPageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>controller.profile.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/StaffProfileServlet</url-pattern>
    </servlet-mapping>
    <!-- ReexaminationServlet: Quản lý tái khám -->
    <servlet>
        <servlet-name>ReexaminationServlet</servlet-name>
        <servlet-class>controller.appointment.ReexaminationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReexaminationServlet</servlet-name>
        <url-pattern>/ReexaminationServlet</url-pattern>
    </servlet-mapping>
</web-app>
